<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net40" />
  <package id="MySql.Data" version="6.9.8" targetFramework="net40" />
  <package id="MySql.Data.Entities" version="6.8.3.0" targetFramework="net4" />
  <package id="NDbUnit.Core" version="1.6.8.0" targetFramework="net4" />
  <package id="NDbUnit.SqlServerCe" version="1.6.8.0" targetFramework="net4" />
  <package id="Tools4Libraries" version="1.0.4" targetFramework="net452" />
</packages>